a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    line-height: 1.5;
}
.container{
    width: 1410px;
    margin: 0 auto;
}

header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week7/logo-fixie.svg);
        text-indent: 101%;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        height: 48px;
        width: 112px;
        margin-left: 48px;
    }
    .navbar{
        display: flex;
        li{
            font-weight: bold;
            padding-left: 48px;
            padding-right: 48px;
            font-size: 24px;
            line-height: 24px;
            a{
                color: #000000;
                display: block;
                &:hover{
                    color: red;
                }
            }
       
        }

    }

}

footer{
    .container{
        background:#F1F5F6;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8d1ef3b63951b7f749edd130ff66e4d4856a3df2/week7/logo-fixie.svg);
        text-indent: 101%;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        height: 48px;
        width: 112px;
    }
    .navbar{
        display: flex;
        li{
            font-weight: bold;
            padding-left: 48px;
            padding-right: 48px;
            a{
                color: #000000;
                display: block;
                &:hover{
                    color: red;
                }
            }
       
        }

    }

}